In [46]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_csv(r"D:\Fall 2020 Raj\big data\project\OneDrive_2020-11-11\Big Data Project Tables\trucks.csv")

In [48]:
df

,driverid,truckid,model,jun13_miles,jun13_gas,may13_miles,may13_gas,apr13_miles,apr13_gas,mar13_miles,...,may09_miles,may09_gas,apr09_miles,apr09_gas,mar09_miles,mar09_gas,feb09_miles,feb09_gas,jan09_miles,jan09_gas
0,A1,A1,Freightliner,9217,1914,8769,1892,14234,3008,11519,...,12073,2642,15276,2642,9880,2642,13861,2642,11176,2642
1,A2,A2,Ford,12058,2335,14314,2648,11050,2323,14114,...,13912,1827,11892,1827,15158,1827,12774,1827,11743,1827
2,A3,A3,Ford,13652,2899,12075,2603,12277,2792,9642,...,9821,3064,15224,3064,11209,3064,14203,3064,10150,3064
3,A4,A4,Kenworth,12687,2439,10680,2083,11071,2599,12302,...,14419,2965,14684,2965,13090,2965,15090,2965,14249,2965
4,A5,A5,Hino,10233,1825,14634,3450,9281,2028,13547,...,12275,2310,14289,2310,13046,2310,9582,2310,10509,2310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,A96,A96,Peterbilt,12738,2637,13991,2566,9767,1811,15165,...,10595,2301,12519,2301,11023,2301,12484,2301,14658,2301
96,A97,A97,Caterpillar,13489,2425,10189,1862,13902,2432,11478,...,12729,3172,9916,3172,12562,3172,10654,3172,12363,3172
97,A98,A98,Volvo,10732,2238,11661,2528,10426,2572,11837,...,13159,2573,14738,2573,11088,2573,11496,2573,10324,2573
98,A99,A99,Peterbilt,13912,2720,12916,2529,9923,2256,11069,...,11137,1944,10929,1944,12901,1944,12717,1944,10467,1944
99,A100,A100,Peterbilt,13019,2329,13991,2488,12698,2841,11924,...,12080,2394,8179,2394,12034,2394,14187,2394,13715,2394

In [49]:
df1 = pd.read_csv(r"D:\Fall 2020 Raj\big data\project\OneDrive_2020-11-11\Big Data Project Tables\riskfactor.csv")

In [50]:
df1

   driverid  Events  Totmiles  Riskfactor
0        A1       3    628507    4.773216
1        A2       1    664543    1.504793
2        A3       6    639584    9.381098
3        A4       6    663289    9.045831
4        A5       9    676574   13.302314
..      ...     ...       ...         ...
94      A96       2    640287    3.123599
95      A97      20    631199   31.685730
96      A98       6    634665    9.453806
97      A99       4    640800    6.242197
98     A100       4    634338    6.305787

[99 rows x 4 columns]

In [51]:
geodf = pd.read_csv(r"D:\Fall 2020 Raj\big data\project\OneDrive_2020-11-11\Big Data Project Tables\geolocation.csv")

In [52]:
geodf.head()

,truckid,driverid,event,latitude,longitude,city,state,velocity,event_ind,idling_ind
0,A54,A54,normal,38.440467,-122.714431,Santa Rosa,California,17,0,0
1,A20,A20,normal,36.977173,-121.899402,Aptos,California,27,0,0
2,A40,A40,overspeed,37.957702,-121.290780,Stockton,California,77,1,0
3,A31,A31,normal,39.409608,-123.355566,Willits,California,22,0,0
4,A71,A71,normal,33.683947,-117.794694,Irvine,California,43,0,0

In [53]:
risk_factor = pd.merge(left=df1, right=df, left_on='driverid', right_on='driverid')

In [54]:
risk_factor.head()

,driverid,Events,Totmiles,Riskfactor,truckid,model,jun13_miles,jun13_gas,may13_miles,may13_gas,...,may09_miles,may09_gas,apr09_miles,apr09_gas,mar09_miles,mar09_gas,feb09_miles,feb09_gas,jan09_miles,jan09_gas
0,A1,3,628507,4.773216,A1,Freightliner,9217,1914,8769,1892,...,12073,2642,15276,2642,9880,2642,13861,2642,11176,2642
1,A2,1,664543,1.504793,A2,Ford,12058,2335,14314,2648,...,13912,1827,11892,1827,15158,1827,12774,1827,11743,1827
2,A3,6,639584,9.381098,A3,Ford,13652,2899,12075,2603,...,9821,3064,15224,3064,11209,3064,14203,3064,10150,3064
3,A4,6,663289,9.045831,A4,Kenworth,12687,2439,10680,2083,...,14419,2965,14684,2965,13090,2965,15090,2965,14249,2965
4,A5,9,676574,13.302314,A5,Hino,10233,1825,14634,3450,...,12275,2310,14289,2310,13046,2310,9582,2310,10509,2310

In [55]:
data = pd.merge(left=geodf, right=risk_factor, left_on='driverid', right_on='driverid')

In [56]:
data.head()

,truckid_x,driverid,event,latitude,longitude,city,state,velocity,event_ind,idling_ind,...,may09_miles,may09_gas,apr09_miles,apr09_gas,mar09_miles,mar09_gas,feb09_miles,feb09_gas,jan09_miles,jan09_gas
0,A54,A54,normal,38.440467,-122.714431,Santa Rosa,California,17,0,0,...,9950,2224,11599,2224,8567,2224,9655,2224,9731,2224
1,A54,A54,normal,35.373292,-119.018712,Bakersfield,California,19,0,0,...,9950,2224,11599,2224,8567,2224,9655,2224,9731,2224
2,A54,A54,normal,39.230151,-121.136075,Rough and Ready,California,45,0,0,...,9950,2224,11599,2224,8567,2224,9655,2224,9731,2224
3,A54,A54,normal,34.953034,-120.435719,Santa Maria,California,21,0,0,...,9950,2224,11599,2224,8567,2224,9655,2224,9731,2224
4,A54,A54,normal,37.962146,-122.345526,San Pablo,California,53,0,0,...,9950,2224,11599,2224,8567,2224,9655,2224,9731,2224

In [57]:
data.columns

Index(['truckid_x', 'driverid', 'event', 'latitude', 'longitude', 'city',
       'state', 'velocity', 'event_ind', 'idling_ind',
       ...
       'may09_miles', 'may09_gas', 'apr09_miles', 'apr09_gas', 'mar09_miles',
       'mar09_gas', 'feb09_miles', 'feb09_gas', 'jan09_miles', 'jan09_gas'],
      dtype='object', length=123)

In [59]:
data['event'].unique()

array(['normal', 'lane departure', 'overspeed', 'unsafe tail distance',
       'unsafe following distance'], dtype=object)

In [60]:
data['city'].unique()

array(['Santa Rosa', 'Bakersfield', 'Rough and Ready', 'Santa Maria',
       'San Pablo', 'Glendora', 'Mariposa', 'Marysville', 'San Francisco',
       'Fresno', 'Willits', 'Antelope', 'Aptos', 'San Dimas', 'Modesto',
       'Hollister', 'Oceano', 'Lodi', 'Arbuckle', 'Gilroy', 'Knightsen',
       'Markleeville', 'Napa', 'Stockton', 'Klamath', 'La Palma',
       'Holtville', 'Irvine', 'Santa Monica', 'Roseville', 'Jacumba',
       'Cloverdale', 'San Fernando', 'Glen Ellen', 'Oceanside',
       'Occidental', 'San Diego', 'Palmdale', 'Knights Landing',
       'Apple Valley', 'Palo Cedro', 'Goleta', 'San Quentin', 'Palo Alto',
       'Kneeland', 'Santa Paula', 'Isleton', 'La Puente', 'La Quinta',
       'Homeland', 'Martinez', 'Ukiah', 'Redding', 'Ojai'], dtype=object)

In [61]:
len(data['Riskfactor'].unique())

99

In [62]:
data['city']

0            Santa Rosa
1           Bakersfield
2       Rough and Ready
3           Santa Maria
4             San Pablo
             ...
7915    Knights Landing
7916         Santa Rosa
7917         Santa Rosa
7918    Rough and Ready
7919         Santa Rosa
Name: city, Length: 7920, dtype: object

In [63]:
regdata = data[['driverid','event','city','velocity','event_ind','idling_ind','Totmiles','model','Events']]

In [64]:
regdata

,driverid,event,city,velocity,event_ind,idling_ind,Totmiles,model,Events
0,A54,normal,Santa Rosa,17,0,0,646020,Western Star,4
1,A54,normal,Bakersfield,19,0,0,646020,Western Star,4
2,A54,normal,Rough and Ready,45,0,0,646020,Western Star,4
3,A54,normal,Santa Maria,21,0,0,646020,Western Star,4
4,A54,normal,San Pablo,53,0,0,646020,Western Star,4
...,...,...,...,...,...,...,...,...,...
7915,A42,normal,Knights Landing,0,0,1,634462,Volvo,2
7916,A42,normal,Santa Rosa,52,0,0,634462,Volvo,2
7917,A42,normal,Santa Rosa,0,0,1,634462,Volvo,2
7918,A42,normal,Rough and Ready,57,0,0,634462,Volvo,2
7919,A42,normal,Santa Rosa,50,0,0,634462,Volvo,2

In [65]:
regdata['Totmiles'].astype('str').astype('float')

0       646020.0
1       646020.0
2       646020.0
3       646020.0
4       646020.0
          ...
7915    634462.0
7916    634462.0
7917    634462.0
7918    634462.0
7919    634462.0
Name: Totmiles, Length: 7920, dtype: float64

In [66]:
regdata.drop_duplicates(subset=['driverid','event','city','velocity','event_ind'],inplace=True)

<ipython-input-66-4cd342fcb282>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regdata.drop_duplicates(subset=['driverid','event','city','velocity','event_ind'],inplace=True)

In [67]:
regdata.shape

(6762, 9)

In [68]:
regdata.isnull().mean()

driverid      0.0
event         0.0
city          0.0
velocity      0.0
event_ind     0.0
idling_ind    0.0
Totmiles      0.0
model         0.0
Events        0.0
dtype: float64

In [69]:
for i in regdata:
    print(regdata[i].unique())

['A54' 'A20' 'A40' 'A31' 'A71' 'A50' 'A51' 'A77' 'A92' 'A89' 'A86' 'A5'
 'A48' 'A2' 'A98' 'A10' 'A12' 'A43' 'A65' 'A62' 'A94' 'A68' 'A49' 'A72'
 'A7' 'A11' 'A8' 'A37' 'A9' 'A34' 'A38' 'A56' 'A27' 'A26' 'A58' 'A57'
 'A17' 'A93' 'A33' 'A69' 'A22' 'A100' 'A15' 'A66' 'A52' 'A16' 'A67' 'A39'
 'A79' 'A35' 'A99' 'A29' 'A28' 'A59' 'A76' 'A32' 'A18' 'A97' 'A91' 'A78'
 'A30' 'A75' 'A73' 'A84' 'A61' 'A90' 'A88' 'A70' 'A21' 'A85' 'A63' 'A81'
 'A6' 'A24' 'A46' 'A80' 'A64' 'A95' 'A53' 'A96' 'A36' 'A60' 'A55' 'A83'
 'A44' 'A3' 'A45' 'A4' 'A13' 'A1' 'A82' 'A25' 'A41' 'A14' 'A87' 'A74'
 'A47' 'A23' 'A42']
['normal' 'lane departure' 'overspeed' 'unsafe tail distance'
 'unsafe following distance']
['Santa Rosa' 'Bakersfield' 'Rough and Ready' 'Santa Maria' 'San Pablo'
 'Glendora' 'Mariposa' 'Marysville' 'San Francisco' 'Fresno' 'Willits'
 'Antelope' 'Aptos' 'San Dimas' 'Modesto' 'Hollister' 'Oceano' 'Lodi'
 'Arbuckle' 'Gilroy' 'Knightsen' 'Markleeville' 'Napa' 'Stockton'
 'Klamath' 'La Palma' 'Holtville' 'Irvine' 'Santa Monica' 'Roseville'
 'Jacumba' 'Cloverdale' 'San Fernando' 'Glen Ellen' 'Oceanside'
 'Occidental' 'San Diego' 'Palmdale' 'Knights Landing' 'Apple Valley'
 'Palo Cedro' 'Goleta' 'San Quentin' 'Palo Alto' 'Kneeland' 'Santa Paula'
 'Isleton' 'La Puente' 'La Quinta' 'Homeland' 'Martinez' 'Ukiah' 'Redding'
 'Ojai']
[ 17  19  45  21  53  33  31  37  67  24   0  68  27  69  23  36  75  65
  70  22  46  59  18  57  63  44  66  16  58  91  40  72  61  39  43  42
  60  56  35  71  41  52  55  49  34  88  28  89  50  64  32  73  48  54
  25  77  47  15  29  26  51  20  74 100  38  62  81  30  78  90  94  85
  86  79]
[0 1]
[0 1]
[646020 631496 643126 668620 672026 640069 622764 663403 618049 652530
 629558 676574 631133 664543 634665 675377 668241 640233 658913 626253
 676750 672089 627335 648414 653787 652452 653991 644152 665456 655656
 650497 655671 670601 621790 663069 648804 663821 645930 652047 637123
 652995 634338 651036 660413 684131 638086 647934 652417 655093 637069
 640800 629256 655680 650987 653351 627218 656474 631199 650337 638626
 647312 652379 642222 651620 644254 658883 665021 636786 649327 635947
 626584 645273 648479 675334 640660 681115 641824 642920 644379 640287
 649314 653030 642144 653172 652599 639584 638204 663289 654319 628507
 631722 645355 632604 649645 665023 638910 623836 639663 634462]
['Western Star' 'Ford' 'Kenworth' 'Peterbilt' 'Oshkosh' 'Crane' 'Volvo'
 'Caterpillar' 'Hino' 'Navistar' 'Freightliner']
[ 4  5  2  8  9  7  1  6  3 20 10]

In [70]:
count0=0
count1=1
for i in data['event_ind']:
    if i==0:
        count0+=1
    else:
        count1+=1
print(count0)
print(count1)

7469
452

In [71]:
#Highly imbalanced data
print((count1/len(data))*100)
print((count0/len(data))*100)
#Majority:Minority class = 93.3 - 6.6

5.707070707070707
94.30555555555556

In [72]:
#data split
from sklearn.model_selection import train_test_split
X_train1, X_test1, y_train, y_test = train_test_split(regdata.drop(['driverid','event_ind','city'], axis=1),
                                                    regdata['event_ind'],
                                                    test_size=0.3,
                                                    random_state=0)

X_train1.shape, X_test1.shape

((4733, 6), (2029, 6))

In [73]:
pip install feature_engine

Requirement already satisfied: feature_engine in d:\anaconda\lib\site-packages (0.6.1)
Requirement already satisfied: scikit-learn>=0.22.2 in d:\anaconda\lib\site-packages (from feature_engine) (0.23.1)
Requirement already satisfied: statsmodels>=0.11.1 in d:\anaconda\lib\site-packages (from feature_engine) (0.11.1)
Requirement already satisfied: scipy>=1.4.1 in d:\anaconda\lib\site-packages (from feature_engine) (1.5.0)
Requirement already satisfied: pandas>=1.0.3 in d:\anaconda\lib\site-packages (from feature_engine) (1.0.5)
Requirement already satisfied: numpy>=1.18.2 in d:\anaconda\lib\site-packages (from feature_engine) (1.18.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda\lib\site-packages (from scikit-learn>=0.22.2->feature_engine) (2.1.0)
Requirement already satisfied: joblib>=0.11 in d:\anaconda\lib\site-packages (from scikit-learn>=0.22.2->feature_engine) (0.16.0)
Requirement already satisfied: patsy>=0.5 in d:\anaconda\lib\site-packages (from statsmodels>=0.11.1->feature_engine) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in d:\anaconda\lib\site-packages (from pandas>=1.0.3->feature_engine) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in d:\anaconda\lib\site-packages (from pandas>=1.0.3->feature_engine) (2.8.1)
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from patsy>=0.5->statsmodels>=0.11.1->feature_engine) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [74]:
from sklearn.pipeline import Pipeline

from feature_engine.variable_transformers import PowerTransformer
from feature_engine.discretisers import EqualFrequencyDiscretiser
from feature_engine.categorical_encoders import OneHotCategoricalEncoder

In [75]:
# make list of variables  types

# numerical: discrete vs continuous
discrete = [var for var in X_train1.columns if X_train1[var].dtype!='O' and var!='riskfactor' and X_train1[var].nunique()<10]
continuous = [var for var in X_train1.columns if X_train1[var].dtype!='O' and var!='riskfactor' and var not in discrete]


# categorical
categorical = [var for var in X_train1.columns if X_train1[var].dtype=='O']

print(discrete)
print(continuous)
print(categorical)

['idling_ind']
['velocity', 'Totmiles', 'Events']
['event', 'model']

In [76]:
#Preprocessing
model_pipe= Pipeline([
    ('rec', PowerTransformer(variables=['velocity', 'Events',
                                             'Totmiles'])),
    ('desc', EqualFrequencyDiscretiser(q=50,
                                       variables=continuous)),
    ('categorical_encoder', OneHotCategoricalEncoder(drop_last=False,
                                          variables=categorical))
])

In [77]:
model_pipe.fit(X_train1, y_train)

Pipeline(steps=[('rec',
                 PowerTransformer(variables=['velocity', 'Events',
                                             'Totmiles'])),
                ('desc',
                 EqualFrequencyDiscretiser(q=50,
                                           variables=['velocity', 'Totmiles',
                                                      'Events'])),
                ('categorical_encoder',
                 OneHotCategoricalEncoder(variables=['event', 'model']))])

In [78]:
X_train=model_pipe.transform(X_train1)
X_test=model_pipe.transform(X_test1)

In [79]:
#logistic regression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

clf = LogisticRegression(max_iter=1000).fit(X_train, y_train)

cv_scores = cross_val_score(clf, X_train, y_train)
train_preds=clf.predict(X_train)
test_preds= clf.predict(X_test)
# Mean Cross validation Score
print("Mean Cross-validation scores: {}".format(cv_scores.mean()))
print()

# Print Co-efficients
print("Logistic.coef_:", clf.coef_)
print("Logistic.intercept_:", clf.intercept_)

# Check test data set performance
print("Logistic Performance: ", clf.score(X_test,y_test))

Mean Cross-validation scores: 0.9989435872935786

Logistic.coef_: [[ 9.00833839e-03  1.29564343e-01  1.37645534e-02 -1.40107060e-01
  -7.90964161e+00  2.41176247e+00  2.08579002e+00  1.57495227e+00
   1.83640847e+00  9.65563570e-02  7.81675046e-02  1.32449174e-01
  -8.78632575e-01 -3.52701610e-02  2.09129184e-01  3.77117835e-01
  -1.08664021e-01 -1.31549882e-02  1.47470796e-01 -5.89747768e-03]]
Logistic.intercept_: [1.41393252]
Logistic Performance:  0.9995071463775259

In [80]:
from sklearn.model_selection import GridSearchCV
param_grid = {   
    'class_weight': [{0:100,1:1}, {0:10,1:1}, {0:1,1:1}, {0:1,1:10}, {0:1,1:100},'balanced'],
}
cgrid_logreg= GridSearchCV(LogisticRegression(solver='newton-cg'), param_grid, cv=5, n_jobs=2, scoring='f1')
cgrid_logreg.fit(X_train, y_train)
print("Best parameters: {}".format(cgrid_logreg.best_params_))
print("Best Mean cross-validation score: {:.2f}".format(cgrid_logreg.best_score_))
print("Logistic Performance: ", cgrid_logreg.score(X_test,y_test))

Best parameters: {'class_weight': {0: 1, 1: 1}}
Best Mean cross-validation score: 0.99
Logistic Performance:  0.9964412811387899

In [44]:
# Print Co-efficients
print("Logistic.coef_:", cgrid_logreg.best_estimator_.coef_)
print("Logistic.intercept_:", cgrid_logreg.best_estimator_.intercept_)

Logistic.coef_: [[ 8.99782161e-03  1.29033165e-01  1.37601965e-02 -1.40138077e-01
  -7.90952110e+00  2.41165601e+00  2.08605395e+00  1.57510612e+00
   1.83669363e+00  9.70862668e-02  7.84071515e-02  1.32042666e-01
  -8.78612271e-01 -3.48721279e-02  2.08869395e-01  3.77183956e-01
  -1.08602087e-01 -1.32426562e-02  1.47704142e-01 -5.97583105e-03]]
Logistic.intercept_: [1.41421984]

In [94]:
import statsmodels.api as sm
print('Fitting logistic regression...')
log_reg = sm.Logit(y_train, X_train)
result =log_reg.fit()
print(result.summary())

Fitting logistic regression...
                            OLS Regression Results
==============================================================================
Dep. Variable:              event_ind   R-squared:                       0.984
Model:                            OLS   Adj. R-squared:                  0.984
Method:                 Least Squares   F-statistic:                 1.582e+04
Date:                Mon, 23 Nov 2020   Prob (F-statistic):               0.00
Time:                        23:34:32   Log-Likelihood:                 9661.1
No. Observations:                4733   AIC:                        -1.928e+04
Df Residuals:                    4714   BIC:                        -1.916e+04
Df Model:                          18
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
const                               0.6156      0.002    364.793      0.000       0.612       0.619
velocity                        -1.295e-05   4.34e-05     -0.298      0.766   -9.81e-05    7.22e-05
idling_ind                          0.0009      0.002      0.558      0.577      -0.002       0.004
Totmiles                            0.0001   3.27e-05      3.063      0.002    3.61e-05       0.000
Events                             -0.0018      0.000     -7.185      0.000      -0.002      -0.001
event_normal                       -0.6686      0.001   -490.735      0.000      -0.671      -0.666
event_unsafe following distance     0.3322      0.003    116.495      0.000       0.327       0.338
event_overspeed                     0.3337      0.004     92.090      0.000       0.327       0.341
event_lane departure                0.2855      0.003    100.472      0.000       0.280       0.291
event_unsafe tail distance          0.3329      0.004     80.601      0.000       0.325       0.341
model_Volvo                         0.0564      0.001     38.065      0.000       0.053       0.059
model_Ford                          0.0560      0.001     51.888      0.000       0.054       0.058
model_Freightliner                  0.0577      0.002     28.676      0.000       0.054       0.062
model_Caterpillar                   0.0491      0.001     42.953      0.000       0.047       0.051
model_Kenworth                      0.0551      0.002     30.815      0.000       0.052       0.059
model_Peterbilt                     0.0571      0.001     47.648      0.000       0.055       0.059
model_Oshkosh                       0.0604      0.002     28.072      0.000       0.056       0.065
model_Navistar                      0.0540      0.002     35.693      0.000       0.051       0.057
model_Western Star                  0.0552      0.002     22.791      0.000       0.050       0.060
model_Hino                          0.0569      0.002     33.430      0.000       0.054       0.060
model_Crane                         0.0577      0.003     18.406      0.000       0.052       0.064
==============================================================================
Omnibus:                    11922.263   Durbin-Watson:                   1.625
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        134585991.906
Skew:                         -27.731   Prob(JB):                         0.00
Kurtosis:                     827.245   Cond. No.                     4.22e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.9e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

Findings: From the above Summary statistics we observe that the factors(X variables) : total miles, truck model, event type and number of events are statistically significant since the p value is less than 0.05 and these factors explain most of the variation(i.e, the likelihood of the event to occur) in the target variable(Event indicator).